.Homepage{
    display: flex;
    flex-direction:column;
}
.sidebarContainer{
    float: left;
    border: 2px solid #50C8EF;

}
.mainSectionContainer{
    display: flex;
    flex-direction:column;
    /* width:80vw; */
    width:fill-available;
    overflow-x: hidden;
}